doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title The Future of the Catskills Interpretive Center
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- OPEN GRAPH
    meta(property="og:site_name" content="The Future of the Catskills Interpretive Center")
    //- meta(property="og:title" content=openGraphData.title)
    //- meta(property="og:description" content=openGraphData.description)
    //- meta(property="og:url" content=openGraphData.url)
    //- meta(property="og:image" content=openGraphData.image)
    //- meta(property="og:image:type" content=openGraphData.imageType)
    //- meta(property="og:image:width" content=openGraphData.imageWidth)
    //- meta(property="og:image:height" content=openGraphData.imageHeight)
    include components/carousel
    include components/modal
    link(rel="stylesheet" type="text/css" href="style.min.css")
    script(type="text/javascript" src="cic.min.js")
  body.no-js.border
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          span.navbar-brand(href='#') The Future of the#[br] #[strong Catskill Interpretive Center]
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            li
              a(href="" type="button" data-toggle="modal" data-target="#help") About the Project
            li
              a(href='#get-involved') Get Involved
            li
              a(href="" type="button" data-toggle="modal" data-target="#donate") Donate
    .container-fluid
      .row.nav-padding
        .col-xs-12
          .row
            .col-xs-6.no-padding.border-right-1px.border-bottom
              img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
            .col-xs-6.no-padding.border-left-1px.border-bottom
              img(src="img/RangerStation.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")

    .container-fluid
      .row
        img(src="img/comps/20170630-cic-public-site.jpg" class="comp-img" id="intro-img" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        img(src="img/comps/20170630-cic-public-site2.jpg" class="comp-img" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        img(src="img/comps/20170630-cic-public-site3.jpg" class="comp-img" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        img(src="img/comps/20170630-cic-public-site4.jpg" class="comp-img" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        img(src="img/comps/20170630-cic-public-site5.jpg" class="comp-img" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        img(src="img/comps/20170630-cic-public-site6.jpg" class="comp-img" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        
        
    footer
      .container-fluid
        .row
          .col-md-6.copyright-cred
            span.copyright-credit
          .col-md-6.design-credit
            span.design-cred
              a.footer-link(href="http://partnerandpartners.com/" target="_blank")
      script(type="text/javascript" src="cic.js")
    .container-fluid
      .row
        .col-xs-12
          .row.xs-p-b-10.xs-p-t-3.xs-m-y-6
            +modal("Donate","donate")
    .container-fluid
      .row
        .col-xs-12
          .row.xs-p-b-10.xs-p-t-3.xs-m-y-6
            +modal("What's This","help")
