doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title The Future of the Catskills Interpretive Center
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- OPEN GRAPH
    meta(property="og:site_name" content="The Future of the Catskills Interpretive Center")
    //- meta(property="og:title" content=openGraphData.title)
    //- meta(property="og:description" content=openGraphData.description)
    //- meta(property="og:url" content=openGraphData.url)
    //- meta(property="og:image" content=openGraphData.image)
    //- meta(property="og:image:type" content=openGraphData.imageType)
    //- meta(property="og:image:width" content=openGraphData.imageWidth)
    //- meta(property="og:image:height" content=openGraphData.imageHeight)
    include components/carousel
    include components/modal
    link(rel="stylesheet" type="text/css" href="style.min.css")
    script(type="text/javascript" src="cic.min.js")
  body.no-js.border
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          span.navbar-brand(href='#') The Future of the#[br] #[strong Catskills Interpretive Center]
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Ideas 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
            li
              a(href="" type="button" data-toggle="modal" data-target="#help") What's This
            li
              a(href='#get-involved') Get Involved
            li
              a(href="" type="button" data-toggle="modal" data-target="#donate") Donate
    .container-fluid
      .row.nav-padding
        .col-xs-12
          .row
            .col-xs-6.no-padding.border-right-1px.border-bottom
              img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
            .col-xs-6.no-padding.border-left-1px.border-bottom
              img(src="img/RangerStation.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
    .container-fluid
      .row.nav-padding
        .col-xs-12.xs-m-b-6
          .row
            .col-md-9
              blockquote It’s critically important to have a place where residents and visitors can learn about our unique natural, historical, and cultural resources. It will help preserve our rich heritage, keep our local economies strong, and our quality of life intact.
          .row
            .col-md-12.xs-m-t-2
              p.quote-credit Hon. Rep. Maurice D. Hinchey
              p.quote-credit U.S. Representative, 1993 – 2013
        .col-xs-12
          .row
            .col-md-6.col-md-offset-2
              .lead
                p The Maurice D. Hinchey Catskill Interpretive Center is a partnership between the Catskill Center and the New York State Department of Environmental Conservation.
                p More than just a visitors center for the Catskill Park, the reimagined Catskill Interpretive Center will act as a community Gathering Space, a Mountain House, Ranger Station, Observatory and Research Lab.
                p Situated on 60 acres of forest, fields and wetlands in the hamlet of Mount Tremper, the center is already known to the community for its walking trails, sculpture park showcasing local Catskill artisans, picnic areas, and access to the Esopus Creek.
              .xs-m-t-3
              +inlinecarousel("CatskillInterpretiveCenter",
              [{image:"img/streetsign.png",h4:"Caption #1",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."},
              {image:"img/TheCenter.png"},
              {image:"img/streetsign.png",h4:"Caption #3",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."}])
              .lead.xs-m-t-3
                p The redesign of the interpretive elements of the Center will further the interpretive mission of CCCD; function as a central hub for local community engagement; orient visitors to tourist sites, current attractions, outdoor activities, and seasonal offerings in the park’s communities; and educate visitors and locals alike about the area’s rich natural and cultural history while promoting the importance of stewardship, conservation, and protection of the Catskills Park.
    .container-fluid
      .row.xs-m-t-12
        .col-sm-10.col-sm-offset-1.border.sm-p-a-3
          .row.md-m-b-3
            .col-sm-7
              .list-lead The Catskills Interpretive Center will provide content in the following areas:
          .row.md-m-b-3
            .col-sm-7
              ul
                li
                  span.title Tourist Information
                  p.description The Center will provide a concierge experience that brings together practical content to assist visitors in making the most of their visit to the Catskills. This information includes local hotels and restaurants, as well as outdoor activities and cultural attractions. Augmenting this information are resources produced by the CIC. Bringing together all this content in one place will allow the CIC to serve as a hub for regional tourism – an important source of economic activity and local employment.
            .col-sm-5
              +carousel("firstCarousel",
              [{image:"img/mountainrange.png"},
              {image:"img/mountainrange.png"},
              {image:"img/mountainrange.png"}])
          .row.md-m-b-12
            .col-sm-7
              ul
                li
                  span.title Outdoor Activities
                  p.description The Center will bring together and reinterpret the various ways that tourists and locals can engage with the natural Catskills environment. In addition to hiking trails, this sections covers a wide range of outdoor activities. Content in “Outdoor Activities” brings the trailhead into the CIC and gives visitors context and options for their outdoor adventures.
            .col-sm-5
              +carousel("secondCarousel",
              [{image:"img/mountainrange.png",h4:"Caption #1",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."}])
          .row.md-m-b-3
            .col-sm-7
              ul
                li
                  span.title Natural Environment
                  p.description The Center will present detailed information and resources on the ecological systems, wildlife and geology in the Catskills. This includes things like: Phenology, Animals, Native mammals and reptiles, Native birds and visiting birds, Endangered and threatened species, Plants, Ecological Zones, Geology, Watershed, Ecosystem Services, Climate Change.
            .col-sm-5
              +carousel("thirdCarousel",
              [{image:"img/streetsign.png"},
              {image:"img/streetsign.png"},
              {image:"img/TheCenter.png"}])
          .row.md-m-b-6
            .col-sm-7
              ul
                li
                  span.title Catskills Past and Present
                  p.description The Center will invite visitors to learn about the history of the Catskill region, from the indigenous Lenapehoking to the Hudson River School, to how the region is changing currently. Content will situate the present day Catskills within a centuries-long history of development, “enjoyment of natural resources,” and conservation.
            .col-sm-5
              +carousel("fourthCarousel",
              [{image:"img/streetsign.png"},
              {image:"img/streetsign.png"},
              {image:"img/TheCenter.png"}])
    .container-fluid
      .row
        .col-xs-12.xs-m-t-6
          .row
            .col-md-6.col-md-offset-2
              .lead
                p Visitors to the Catskill Interpretive Center will come away with an overview of the area’s rich natural and cultural history, discover local attractions and activities, and gain a broader sense of the importance of stewardship, conservation, and protection of the Catskills Park. 
                p We are reinventing the Maurice D. Hinchey Catskills Interpretive Center. Our plan for the Center includes the design of new interactive exhibits for the Center about the park, its plants, wildlife, waterways, history, culture, and people; creating a first-of-its-kind app for visitors and locals alike to learn about events in the region; repositioning the center as a ranger station and mountain house.
    .container-fluid
      .row
        .col-xs-12.xs-m-y-6
          .row
            img(src="img/1848-sarahcole.jpg" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
    .container-fluid
      .row.xs-m-t-6
        .col-sm-10.col-sm-offset-1
          .row
            .col-sm-4.lg-m-t-15.md-m-t-10.sm-m-t-8
              img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
            .col-sm-6.col-sm-offset-2
              img(src="img/RangerStation.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
          .row
            .col-sm-6.col-sm-offset-2.md-m-t-6
              img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
    .container-fluid
      .row.xs-m-t-12
        .col-sm-10.col-sm-offset-1
          .row
            .col-sm-4.lg-m-t-15.md-m-t-10.sm-m-t-8
              +carousel("firstCarousel",
              [{image:"img/mountainrange.png",h4:"Caption #1",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."},
              {image:"img/mountainrange.png"},
              {image:"img/mountainrange.png",h4:"Caption #3",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."}])
            .col-sm-6.col-sm-offset-2
              img(src="img/RangerStation.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
          .row
            .col-sm-6.col-sm-offset-2.md-m-t-6
              img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
  footer
    .container-fluid
      .row
        .col-md-6.copyright-cred
          span.copyright-credit
        .col-md-6.design-credit
          span.design-cred
            a.footer-link(href="http://partnerandpartners.com/" target="_blank")
  .container-fluid
    .row
      .col-xs-12
        .row.xs-p-b-10.xs-p-t-3.xs-m-y-6
          +modal("Donate","donate")
  .container-fluid
    .row
      .col-xs-12
        .row.xs-p-b-10.xs-p-t-3.xs-m-y-6
          +modal("What's This","help")
